body {
    width: 100%;
    background-color: #fff;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.cva {
    position: relative;
    & .button {
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        margin: auto;
        animation: anime1 1s ease 0s infinite alternate;
        transform-origin: center;
        & img {
            max-width: 90%;
        }
    }
}

@keyframes anime1 {
    from {
        transform: scale(0.95,0.95);
    }
    to {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 720px) {
    .content img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 320px) {
    .content img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}
